.container {
    border: 2px solid #eae0e0;
    display: flex;
  }

.social-links-container{
    border: 2px solid rgb(72, 70, 70);
    box-shadow: 5px 5px grey;
    box-sizing: border-box;
}  
.card{
    width: 18rem;
}


.card-img-top{
    aspect-ratio: 3/2;
}

.social-links{
    width:42px;
    height:42px;
}
.row{
    display: flex;
    justify-content: space-between;
}
.info-container{
    align-items: center;
}
.card-title{
    text-align: center;
}
.card-text{
    align-content: center;
}

/* Services */
.services-text{
    text-align: center;
}
.card-services{
    border: 2px solid rgb(39, 38, 38);
    border-radius: 8px;
}

.footer-container{
    border: 2px solid pink;
    padding: 2px;
    margin:18px;
}