body{
    padding: 10px;
    padding: 0;
    margin: 10px;
    height:100vh;
    display: grid;
    background-color: #fcdcd8;
    
}



.container {
    display: flex;
    font-size: 24px;
    color: #EE2677;
}

/* .container > a{
    flex:1;
} */
.container > div{
    flex:1;
}



.aside-bar {
    /* margin-left: 15px; */
    border-radius: .3em;
    margin: 5em;
    padding:5em;
    background: #deb9c2;
    border-radius: .4rem;
    max-width: 300px;
}
/* .aside-bar .card-img-top{
    border-radius: .7em;
   
} */
.aside-card-title{
    border: 2px;
    border-radius: 5px;
    font-size: 21px;
}
.social-links-container{
    border: 2px solid rgb(72, 70, 70);
    box-shadow: 5px 5px grey;
    box-sizing: border-box;
}  
.card{
    width: 18rem;
}


.card-img-top{
    /* display: flex; */
    justify-content: center;
    border-radius: .7em;
}

.social-links{
    width:32px;
    height:32px;
}
.row{
    display: flex;
    justify-content: space-between;
}
#flex-container{
    display: flex;
}
/* Info section */
.info-container{
    align-items: center;
    /* border: 3px solid lightgrey; */
    border-radius: 15px;
    margin: 5em;
}
.card-title{
    text-align: center;
    font-size:36px;
}
.card-text{
    align-content: center;
    font-size:18px;
    font-style: italic;
    text-align: center;
    padding:1px;
}
.card-body-info{
    margin:2em;
}
.card-body-info > .card-link{
    padding:2px;
    margin: 25px;
    font-size: 20px;
   
}

.btn-card-link{
    padding: 15px;
    margin-top:10px;
    font-size: 20px;
    border-radius: 15px;
}
.section-container{
    display: flex;
}

/* Services */
.service-container{
    /* border: 3px solid lightgrey; */
    border-radius: 15px;
    margin-top: 5px;
    margin: 1em;
}
.services-text{
    text-align: center;
    font-size:36px;
}
.card-services{
    border: 2px solid rgb(39, 38, 38);
    border-radius: 8px;
    padding: 1em;
    margin: 1em;
}





.footer-container{
    padding: 10px;
    margin-top: 25px;
    display: flex;
    font-size: 24px;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
}
.footer-container > a{
    flex:1;
}
.footer-container > a > .social-links {
    margin-right: 10px;
}